@import "type.scss";

body {
  font-family: system-ui, sans-serif;
  background: #fff;
  color: #333;

  a {
    font-family: Georgia;
  }
}

p {
  @include font((
    font: sansSerif,
    size: regular
  ));  
}










