<!doctype html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
    {% include "partials/header.njk" %}

    <main class="wrap">
      {{ content | safe }}
    </main>

    {% include "partials/footer.njk" %}
  </body>
</html>