---
layout: layouts/base.njk
title: About
classes: "page"
permalink: "/about/index.html"
---

{% from "partials/macros.njk" import card %}

about

{{ card(
  "Example card",
  "<p>This is passed in as HTML.</p>",
  "/tags/")
}}
